.main-header {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-bottom: 46px;
}

.wrap__navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100%;
}

.wrap__navbar {
    
    width: 100%;
}

.navbar__menu--item{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #4c8aee; 
    font-size: 18px;

}

.navbar__menu--item:first-child{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #4ceec9;
    font-size: 18px;

}

.navbar__menu--item:hover{ 
    
    background: #ffffff;
    transition: 0.3s;

}

.navbar__menu--item a{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
    color: #ffffff;
}

.navbar__menu--item a:hover{ 
    
    color: #4c8aee;
    transition: 0.3s;

}

.navbar__menu--item:first-child a:hover{ 
    
    color: #4ceec9;
    transition: 0.3s;

}
